@media (max-width: 1200px) {
    .section {
        width: 310px;
    }

    .section__img {
        width: 145px;
    }

    .section__header {
        font-size: 18px;
    }

    .section__text {
        font-size: 14px;
    }
}

@media (max-width: 960px) {
    .section {
        width: 285px;
    }
}

@media (max-width: 960px) {

    .awesome__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

