
.banner-section {
    background: url("../img/city_up.png") center center/cover no-repeat;
    height: 1025px;
}

.banner_shadow {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.banner-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 290px;
}

.banner-info {
    flex-grow: 1;
    padding-right: 20px;
}

.banner-axit {
    margin-bottom: 70px;
}

.banner-text__header {
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.banner-separator {
    width: 170px;
    border:1px solid #fff;
    margin-bottom: 42px;
}

.banner-text__paragraph {
    color: #FFF;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 42px;
}

.banner-text__btn {
    width: 270px;
    height: 58px;
    border: 2px solid #FFF;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.banner-text__btn_hover:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
    transition: 0.2s;
}

.banner-text__btn_hover:active {
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFF;
}

.banner-form {
    width: 40%;
    border-radius: 10px;
    background: #FFF;
    padding-top: 36px;
}

.banner-input__header {
    margin-bottom: 80px;
    text-align: center;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-input__span {
    color: #EC7979;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-form-wrap {
    padding-left: 50px;
    padding-right: 50px;
}

.banner-form-wrap__input {
    display: block;
    padding-bottom: 15px;
    width: 100%;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom:1px solid #BDBDBD;
    margin-bottom: 30px;
}

.banner-form-wrap__input:focus {
    outline:none;
}

.banner-form__btn {
    width: 100%;
    height: 60px;
    border: #EC7979;
    border-radius: 0px 0px 10px 10px;
    background: #EC7979;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.banner-form__btn_hover:hover {
    background-color: #AB4949;
}

.banner-form__btn_hover:active {
    background-color: #EC7979;
    box-shadow: 0 0 10px 0 #AB4949 inset;
}