.header-section {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 75px;
    background-color: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.header__bar-btn {
    display: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 75px;
    width: 570px;
}

.header-nav__link {
    width: 114px;
    height: 75px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.header-nav__link_hover:hover {
    background-color: #EC7979;
    transition: 0.2s;
}

.header-nav__link_hover:active {
    background-color: #AB4949;
}