.pricing-section {
    height: 900px;
    background-color: #F5F5F5;
}

.pricing {
    text-align: center;
}

.pricing-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-tariff {
    height: 510px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    transition: 0.5s;
}

.pricing-tariff_hover:hover {
    top:0;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, .2);
}

.pricing-tariff__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11%;
    border: 2px solid #F5F5F5;
    background-color: #333;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.pricing-tariff__price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 19%;
    border: 2px solid #F5F5F5;
    background-color: #333;
    color: #FFF;
    font-family: "Raleway",sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.pricing-tariff__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border: 2px solid #F5F5F5;
    background: #333;
    color: rgba(255, 255, 255, .5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.pricing-tariff__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border: 2px solid #F5F5F5;
    background-color: #FFF;
    color: #86878B;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}





