*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.repeat__title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-top: 55px;
}

.repeat-separator {
    margin: 0 auto 40px;
    width: 170px;
    border: 1px solid #EC7979;
}

.repeat__text {
    margin-bottom: 60px;
    color: #86878B;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .repeat__title {
        font-size: 24px;
        margin-top: 45px;
        margin-bottom: 45px;
        padding-top: 45px
    }

    .repeat-separator {
        width: 140px;
        margin-bottom: 30px;
    }

    .repeat__text {
        font-size: 14px;
        margin-bottom: 30px;
    }
}

@media (max-width: 960px) {
    .repeat__title {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 50px;
        padding-top: 50px;
    }

    .repeat-separator {
        width: 135px;
        margin-bottom: 25px;
    }

    .repeat__text {
        font-size: 13px;
        margin-bottom: 45px;
    }
}