.social-section {
    width: 100%;
    background-color:#F8EFEF;
    margin-bottom: 100px;
}

.social {
    height: 140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.social-text {
    width: 470px;
}

.social-text__header {
    height: 60px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 18px;
}

.social-text__paragraph {
    color: #86878B;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 670px;
}

.social-links__links {
    font-size:48px;
    color: #CCCCCC;
}

.social-links__links_hover:hover{
    font-size: 60px;
    transition: 0.2s;
    color: #EC7979;
}



