*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.tabs {
    margin: 0 auto;
    width: 1170px;
}

.tabs-nav {
    display: flex;
    text-transform: uppercase;
}

.tabs-nav__link{
    width: 203px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.tabs-nav__link-one {
    border-radius: 5px 5px 0px 0px;
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
}

.tabs-nav__link-two, .tabs-nav__link-three {
    border-bottom: 1px solid #C6CBCD;
}

.tabs-nav__link-two:hover, .tabs-nav__link-three:hover {
    border-radius: 5px 5px 0px 0px;
    border-top: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-bottom: none;
}

.tabs-nav__link-four {
    flex-grow: 1;
    border-bottom: 1px solid #C6CBCD;
    cursor: default;
}

.tabs-box {
    border-right: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
}

.tabs-text {
    width: calc(100% - 470px);
    display: inline-block;
    padding-left: 100px;
    margin-right: -4px;
    vertical-align: top;
}

.tabs-text__title {
    width: 570px;
    height: 124px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 124px;
    margin-bottom: 27px;
}

.tabs-text__paragraph {
    width: 570px;
    height: 210px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 27px;
}

.tabs-text__btn_btn-hover {
    width: 270px;
    height: 58px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background-color: #EC7979;
    border: 2px solid #EC7979;
    transition: 0.2s;
}

.tabs-text__btn_btn-hover:hover {
    border: 2px solid #AB4949;
    background-color: #AB4949;
}

.tabs-text__btn_btn-hover:active {
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.tabs-box__statue {
    vertical-align: top;
}



