*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.tabs {
    margin: 0 auto;
    width: 1170px;
    margin-bottom: 50px;
}

.tabs-nav {
    text-transform: uppercase;
}

.tabs-nav__link{
    display: inline-block;
    width: 203px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.tab-one {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
    border-bottom: 1px solid #fff;
}

.tabs-box {
    border: 1px solid #C6CBCD;
    height: 500px;
    margin-top: -2px;
}

.tabs-text {
    display: inline-block;
    padding-left: 100px;
    margin-right: 24px;
    vertical-align: top;
}

.tabs-text__title {
    width: 570px;
    height: 124px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 124px;
    margin-bottom: 27px;
}

.tabs-text__paragraph {
    width: 570px;
    height: 210px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 27px;
}

.tabs-text__btn {
    width: 270px;
    height: 58px;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #EC7979;
    border: #EC7979;
}



